<template>
    <div class="basket">
        <table class="table">
            <thead>
            <tr>
                <td>Марка</td>
                <td>Модель</td>
                <td>Год</td>
                <td>Цена</td>
                <td>Кол-во</td>
                <td>Сумма</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-bind:key=indextr v-for="(item, colname, indextr) in getItemBasket">
                <td>{{ item.name }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.countbasket }}</td>
                <td>{{ getItemTotal(item) }}</td>
                <td>
                    <button class="btn btn-danger" v-on:click="onDeleteFromBasket(item)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="TotalCount">
            <div>Итого:</div>
            {{ getTotalAmount }}
        </div>
        <div v-if="countItemBasket !== 0" class="checkoutOrder">
            <button class="btn btn-success" v-on:click="checkout">
                Checkout
            </button>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Basket',
        data() {
            return {
                TotalAmount: 0,
                itemBasketProduct: []
            }
        },
        props: {},
        computed: {
            getItemBasket: function () {
//        this.itemBasketProduct = this.$store.getters["storeBasket/product"];
                let data = this.$store.getters["storeBasket/product"];
//        this.itemBasketProduct = data;
                if (data === 0) {
                    return null;
                } else {
                    return data;
                }
            },
            getTotalAmount: function () {

                this.resetTotalAmount();
                let data = this.$store.getters["storeBasket/product"];

                if (data !== 0) {
                    let self = this;
                    data.forEach(
                        function (item) {
                            self.TotalAmount += self.calculationRulesSum(item.countbasket, item.price)
                        }
                    )
                }
                return this.TotalAmount;
            },
            countItemBasket: function () {
                console.log(this.$store.getters["storeBasket/getCountBasket"]);
                return this.$store.getters["storeBasket/getCountBasket"];
            }
        },
        created: function () {
            console.log("Create Basket");

        },
        mounted() {

        },
        methods: {
            onDeleteFromBasket: function (item) {
                console.log('Delete from basket');
                console.log(item);
                this.$store.dispatch("storeBasket/deleteFromBasket", item);
//        EventBus.$emit('deleteFromBasket', item);
            },
            calculationRulesSum: function (countbasket, price) {
                let sum = 0;
                sum = parseInt(countbasket) * parseInt(price);
                return sum
            },
            resetTotalAmount: function () {
                this.TotalAmount = 0;
            },
            getItemTotal: function (item) {
                return this.calculationRulesSum(item.countbasket, item.price)
            },
            checkout: function () {
                if(!this.$store.state.auth.status.loggedIn){
                    this.$router.push('/login')
                }
                this.$store.dispatch("storeBasket/checkout");
            }

        },
        beforeDestroy: function () {

        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .basket {
        height: 80%;
    }
    .checkoutOrder{
        display: flex;
        justify-content: end;
    }
</style>
