<template>
    <div class="footer">
        <div class="footer__info">
            copy right 2020
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Header',
    props: {

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .footer{
    align-self: center;
    text-align: center;
    width: 100%;
    border: dotted 2px coral;
    height: 10%;
    background-color: #c6c8ca;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__info{
      background: darkgrey;
      width: 98%;
      height: 80%;
      border-radius: 10px;
  }
</style>
