<template>
  <div class="header">

    <div class="menu__main">
      <ul class="menu__items">
        <li><router-link to="/">Главная</router-link></li>
        <li v-if="loggedIn"><router-link to="/admin">Админ Панель</router-link></li>
      </ul>
    </div>
    <div class="basket">
      <img class="basket__img" v-on:click="onGotoBasket" src="../../public/img/basketMedium.png"/>
      <span class="basket__count"> {{ countItemBasket }} </span>
    </div>
    <div class="userInfo" v-if="loggedIn">
      <div>
        {{userInfo.userDetails.username}}
      </div>
    </div>

    <div >
      <button v-if="loggedIn" v-on:click="logOut">
        Logout
      </button>
      <button v-if="!loggedIn" v-on:click="LogIn">
        LogIn
      </button>
      <button v-on:click="regist">
        Registration
      </button>
    </div>


  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {

  },
  created() {
    console.log("create header restore basket item");
    this.$store.dispatch("storeBasket/getItemFromlocaSt");

  },
  computed: {
    countItemBasket: function () {
      return this.$store.getters["storeBasket/getCountBasket"];
    },
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    userInfo(){
      return this.$store.state.auth.user;
    }
  },
  methods: {
    onGotoBasket: function () {
      this.$router.push('/basket')
    },
    logOut: function () {
      console.log("logout");
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
    LogIn: function () {
      this.$router.push('/login')
    },
    regist: function () {
      this.$router.push('/regist')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .header{
    /*align-self: center;*/
    /*text-align: center;*/
    width: 100%;
    border: dotted 2px aqua;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #c6c8ca;
  }
  .basket{
    position: relative;
  }
  .basket__img{
    /*position: absolute;*/
  }
  .basket__count{
    /*position: absolute;*/
    left: 35px;
    top: -2px;
  }
  li{
    list-style-type: none;
  }
  li a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white;
    display: block;
  }
  .menu__main{
    width: 500px;
    height: 50px;
    background: darkgrey;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 10px;

  }
  .menu__items{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
</style>
