<template>
    <div class="admin">
        <div v-if="isLoading">
            Загрузка списка товаров
        </div>
        <div class="btn_addItem">
            <button class="btn btn-success" v-on:click="showAddModal()">Добавить</button>
        </div>

        <table v-if="!isLoading" class="table">
            <thead>
            <tr>
                <td>Марка</td>
                <td>Модель</td>
                <td>Год</td>
                <td>Цена</td>
                <td>Кол-во</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-bind:key=indextr v-for="(item, colname, indextr) in listProduct">
                <td>{{ item.name }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <button class="btn btn__editItem" v-on:click="onEditItem(item)">
                        Редактировать
                    </button>
                </td>
                <td>
                    <button class="btn badge-danger btn__deleteItem" v-on:click="onDeleteItem(item)">
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <modal @close="onCloseModal()" v-if="isShowMoadlItemAdd">
            <div slot="header">
                <h3>Добавление позиции</h3>
                <button class="btn" @click="onCloseModal()">Закрыть</button>
            </div>

            <div slot="body">
                <label for="nameItem">Марка</label>
                <input id="nameItem" type="text" v-model="addItem.name">
                <label for="modelItem">Модель</label>
                <input id="modelItem" type="text" v-model="addItem.model">
                <label for="priceItem">Цена</label>
                <input id="priceItem" type="text" v-model="addItem.price">
                <label for="yearItem">Год выпуска </label>
                <input id="yearItem" type="text" v-model="addItem.year">
                <label for="quantityItem">Количество</label>
                <input id="quantityItem" type="text" v-model="addItem.quantity">
            </div>
            <div slot="footer">
                <button class="btn modal-default-button" @click="onAddItem()">
                    Сохранить
                </button>
            </div>
        </modal>

        <modal @close="onCloseModal" v-if="isShowMoadlItemEdit">
            <div slot="header">
                <h3> {{ this.itemEdit.name }}</h3>
                <button class="btn" @click="onCloseModal()">Закрыть</button>
            </div>

            <div slot="body">
                <label for="nameUpdate">Марка</label>
                <input id="nameUpdate" type="text" v-model="name">
                <label for="modelUpdate">Модель</label>
                <input id="modelUpdate" type="text" v-model="model">
                <label for="priceUpdate">Цена</label>
                <input id="priceUpdate" type="text" v-model="price">
                <label for="yearUpdate">Год выпуска</label>
                <input id="yearUpdate" type="text" v-model="year">
                <label for="quantityUpdate">Кол-во</label>
                <input id="quantityUpdate" type="text" v-model="quantity">
            </div>
            <div slot="footer">
                <button class="btn modal-default-button" @click="onUpdateItem()">
                    Сохранить
                </button>
            </div>
        </modal>
    </div>
</template>


<script>

    import modal from '../Modal/Modal.vue'
    export default {
        name: "Admin",
        data() {
            return {
                addItem: {},
                itemEdit: {},
                isShowMoadlItemAdd: false,
                isShowMoadlItemEdit: false
            }
        },
        created: function () {
            this.$store.dispatch("storeProduct/getProducts");
        },
        computed: {
            listProduct: function () {
                let data = this.$store.getters["storeProduct/product"];
                console.log("Получен ответ");
                console.log(data);
                if(data.length === 0){
                    return null;
                }else{
                    return data.data;
                }
            },
            isLoading: function () {
                return this.$store.getters["storeProduct/isLoading"];
            },
            name: {
                get: function () {
                    return this.itemEdit.name;
                },
                set: function (name) {
                    this.itemEdit.name = name;
                }
            },
            model: {
                get: function () {
                    return this.itemEdit.model;
                },
                set: function (model) {
                    this.itemEdit.model = model;
                }
            },
            price: {
                get: function () {
                    return this.itemEdit.price;
                },
                set: function (price) {
                    this.itemEdit.price = price
                }
            },
            year: {
                get: function () {
                    return this.itemEdit.year;
                },
                set: function (year) {
                    this.itemEdit.year = year;
                }
            },
            quantity: {
                get: function () {
                    return this.itemEdit.quantity;
                },
                set: function (quantity) {
                    this.itemEdit.quantity = quantity;
                }
            }
        },
        methods: {
            showAddModal: function(){
                this.isShowMoadlItemAdd = true;
            },
            onAddItem: function () {
                this.$store.dispatch("storeProduct/itemAdd", {"item" : this.addItem});
                console.log("ADD ITEM");
            },
            onCloseModal: function () {
                console.log("CLOSE MODAL ADD");
                this.isShowMoadlItemAdd = false;
                this.addItem = {};
                this.itemEdit = {};
                this.isShowMoadlItemEdit = false;

            },
            onEditItem: function (item) {
                this.itemEdit = item;
                this.isShowMoadlItemEdit = true;
                console.log(this.itemEdit);
            },
            onDeleteItem: function (item) {
                console.log("VIEW PROD TO STORE delete");
                console.log(item);
                this.$store.dispatch("storeProduct/itemDelete", {"item" : item});
                this.onCloseModal();
            },
            onUpdateItem: function () {
                console.log("VIEW PROD TO STORE");
                console.log(this.itemEdit);
                this.$store.dispatch("storeProduct/itemEdit", {"item" : this.itemEdit});
                this.onCloseModal();
            }
        },
        components: {
            modal: modal
        }
    }
</script>

<style scoped>
    .admin{
        display: flex;
        align-self: center;
        text-align: center;
        width: 100%;
        border: dotted 2px darkgray;
        height: 80%;
        flex-direction: column;
        overflow: auto;
    }
    .btn_addItem{
        display: flex;
        justify-content: right;
        width: 100%;
    }
</style>