<template>
    <div class="loginCard">
        <div class="card card-container">

            <form name="form" @submit.prevent="handleLogin">
                <div class="form-group">
                    <label>Username</label>
                    <input
                            v-model="user.username"
                            type="text"
                            class="form-control"
                            name="username"
                    />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input
                            v-model="user.password"
                            type="password"
                            class="form-control"
                            name="password"
                    />

                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" :disabled="loading">
                        <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                        <span>Login</span>
                    </button>
                </div>
                <div class="form-group">
                    <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import LoginUser from '../../model/LoginUser';

    export default {
        name: 'Login',
        data() {
            return {
                user: new LoginUser('', ''),
                loading: false,
                message: ''
            };
        },
        computed: {
            loggedIn() {
                return this.$store.state.auth.status.loggedIn;
            }
        },
        created() {
            if (this.loggedIn) {
                this.$router.push('/');
            }
        },
        methods: {
            handleLogin() {
                this.loading = true;
                // this.$validator.validateAll().then(isValid => {
                //     if (!isValid) {
                //         this.loading = false;
                //         return;
                //     }

                    if (this.user.username && this.user.password) {
                        console.log("user from login");
                        console.log(this.user);
                        this.$store.dispatch('auth/login', this.user).then(
                            () => {
                                this.$router.push('/');
                            },
                            error => {
                                this.loading = false;
                                this.message =
                                    (error.response && error.response.data) ||
                                    error.message ||
                                    error.toString();
                            }
                        );
                    }
                // });
            }
        }
    };
</script>

<style scoped>
    label {
        display: block;
        margin-top: 10px;
    }
    .loginCard{
        height: 100%;
    }
    .card-container.card {
        max-width: 350px !important;
        padding: 40px 40px;
    }

    .card {
        background-color: #f7f7f7;
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
</style>
