<template>
    <div class="main">
        <div v-if="isLoading">
            Загрузка списка товаров
        </div>

        <viewproduct v-if="!isLoading">
            <viewproductitem v-bind:item="item" v-bind:key=indextr v-for="(item, colname, indextr) in listProduct" >

            </viewproductitem>
        </viewproduct>
    </div>
</template>

<script>

  import viewproduct from '../../components/View/ViewProduct.vue'
  import viewproductitem from '../../components/View/ViewProductItem.vue'

  export default {
    name: 'Main',
    props: {

    },
    created: function () {
      this.$store.dispatch("storeProduct/getProducts");
    },
    computed: {
      listProduct: function () {
        let data = this.$store.getters["storeProduct/product"];
        console.log("Получен ответ");
        console.log(data);
        if(data.length === 0){
          return null;
        }else{
          return data.data;
        }
      },
      isLoading: function () {
        return this.$store.getters["storeProduct/isLoading"];
      }
    },
    components: {
      viewproduct: viewproduct,
      viewproductitem: viewproductitem
    },
    methods: {

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .main{
    display: flex;
    align-self: center;
    text-align: center;
    width: 100%;
    border: dotted 2px darkgray;
    height: 80%;
    flex-direction: column;
    overflow: auto;
  }
</style>
