<template>
    <div id="app">
        <Header></Header>
        <router-view></router-view>
        <Footer></Footer>
    </div>
</template>

<script>

    import Header from './components/Header.vue'
    import Footer from './components/Footer.vue'

    export default {
        name: 'app',
        components: {
            Header: Header,
            Footer: Footer
        }
    }
</script>

<style>
    #app {
        display: flex;
        flex-direction: column;
        width: 1024px;
        height: 1024px;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
</style>
