/**
* Created by dserov on 09.12.2019.
*/
<template>
    <div>
        <div class="viewproduct">
            <slot></slot>
        </div>
        <modal @close="onCloseModal" v-if="isShowMoadlItem">
            <h3 slot="header"> {{ this.itemShow.name }}</h3>
            <div class="cardViewItem" slot="body">
                <span>
                    <img v-bind:src=this.itemShow.image />
                </span>
                <span>Model {{ this.itemShow.model }}</span>
                <span>Price {{ this.itemShow.price }}</span>
                <span>Year of issue {{ this.itemShow.year }}</span>
            </div>
            <div slot="footer">
                <button class="btn modal-default-button" @click="onCloseModal()">
                    Ок
                </button>
            </div>
        </modal>


    </div>
</template>

<script>

    import {EventBus} from '../../EvenBus.js'
    import modal from '../Modal/Modal.vue'

    export default {
        name: 'ViewProduct',
        data() {
            return {
                isShowMoadlItem: false,
                itemShow: {},
                isShowMoadlItemEdit: false
            }
        },
        props: [],
        created: function () {
            console.log("Create viewProduct");
            EventBus.$on('onAddToBasket', this.onAddToBasket);
            EventBus.$on('onItem', this.onItem);

        },
        computed: {

        },
        components: {
            modal: modal
        },
        methods: {
            onAddToBasket: function (item) {
                console.log("Cautch event add to card");
                this.$store.dispatch("storeBasket/addToBasket", item);
            },
            onItem: function (item) {
                this.itemShow = item;
                console.log(item);
                this.isShowMoadlItem = true;
            },

            onCloseModal: function () {
                this.isShowMoadlItem = false;
                this.isShowMoadlItemEdit = false;
                this.itemShow = {};
                this.itemEdit = {};
            }
        },

        beforeDestroy: function () {
            console.log("Destroy view product ");
            EventBus.$off('onAddToBasket');
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .viewproduct {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        align-self: center;
    }
    .cardViewItem{
        display: flex;
        /*border: 1px solid coral;*/
        height: 365px;
        width: 248px;
        flex-direction: column;
        margin: 5px 1px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #c5ca78;
        opacity: 1;
    }
</style>
