<template>
    <div class="viewproductitemadmin">

        <span>Name {{ item.name }}</span>
        <span>Model {{ item.model }}</span>
        <span>Price {{ item.price }}</span>
        <span>Year of issue {{ item.year }}</span>
        <span>Quantity {{ item.quantity }}</span>
        <div>
            <button class="btn btn__editItem" v-on:click="onEditItem(item)">
                Edit Item
            </button>
            <button class="btn btn__deleteItem" v-on:click="onDeleteItem(item)">
                Delete Item
            </button>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../EvenBus.js'
    export default {
        name: "ViewProductItemAdmin",
        props: [
            'item'
        ],
        methods: {
            onEditItem: function (item) {
                //создаем событие добавления продукта
                EventBus.$emit('onEditItem', item);
            },
            onDeleteItem: function (item) {
                EventBus.$emit('onDeleteItem', item);
            }
        }
    }
</script>

<style scoped>
    .viewproductitemadmin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
</style>