/**
* Created by dserov on 09.12.2019.
*/
<template>
    <div v-on:click="onItem($event, item)" class="viewproductitem">
        <span>
            <img v-bind:src=item.image />
        </span>
        <span>Name {{ item.name }}</span>
        <span>Model {{ item.model }}</span>
        <span>Price {{ item.price }}</span>
        <span>Year of issue {{ item.year }}</span>
        <span>Quantity {{ item.quantity }}</span>
        <div>
            <button class="btn btn__addBasket" v-on:click="addToBasket(item)">
                Add To Card
            </button>
        </div>
    </div>
</template>

<script>

  import {EventBus} from '../../EvenBus.js'

  export default {
    name: 'viewproductitem',
    props: [
      'item'
    ],
    methods: {
      addToBasket: function (item) {
        //создаем событие добавления продукта
        console.log('Click addToBasket');
        EventBus.$emit('onAddToBasket', item)
      },
      onItem: function (event, item) {
        if(event.target.className.indexOf("btn__addBasket") === -1){
          EventBus.$emit('onItem', item)
        }
      }
    }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .viewproductitem{
        display: flex;
        /*border: 1px solid coral;*/
        height: 400px;
        width: 248px;
        flex-direction: column;
        margin: 5px 1px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #c6c8ca;
        opacity: 1;
    }
    .viewproductitem:hover {
        /*-webkit-transform: scale(1.05);*/
        /*-ms-transform: scale(1.05);*/
        transform: scale(1.01);
        /*opacity: 0.6;*/
        border: 2px solid peachpuff;
    }
    .btn__addBasket{
        background-color: hotpink;
        color: white;
        opacity: 0.5;
    }
    .btn__addBasket:hover{
        opacity: 1;
    }
</style>
